/* components/Card/Card.module.css */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc; /* Border around each card */
  background-color: #e0e0e0; /* Background color for cards */
  border-radius: 5px; /* Rounded corners */
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust height as needed */
  overflow: hidden; /* Prevent overflow from the image */
  position: relative; /* For positioning overlay */
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the card area */
}

.attributesOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.attributeCircle {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px; /* Adjust font size as needed */
}

.up {
  position: absolute;
  top: -15px; /* Adjust for positioning */
  left: 50%;
  transform: translate(-50%);
}

.upText {
  position: relative;
  top: +7px; /* Adjust for positioning */
}

.right {
  position: absolute;
  right: -15px; /* Adjust for positioning */
  top: 50%;
  transform: translateY(-50%);
}

.rightText {
  position: relative;
  right: +7px; /* Adjust for positioning */
}

.down {
  position: absolute;
  bottom: -15px; /* Adjust for positioning */
  left: 50%;
  transform: translateX(-50%);
}

.downText {
  position: relative;
  bottom: +7px; /* Adjust for positioning */
}

.left {
  position: absolute;
  left: -15px; /* Adjust for positioning */
  top: 50%;
  transform: translateY(-50%);
}

.leftText {
  position: relative;
  left: +7px; /* Adjust for positioning */
}
